.slider {
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(245, 239, 239);
}

.image {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 45%;
    right: 5px;
    font-size: 3rem;
    color: rgb(202, 202, 202);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 45%;
    left: 5px;
    font-size: 3rem;
    color: rgb(202, 202, 202);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 1;
    transition-duration: 5s ease;
}

.slide.active {
    opacity: 2;
    transition-duration: 15s;
    transform: scale(1.08);
}

@media screen and (min-width: 600px) {
    
    .slider {
        padding-top: 1vh;
        height: auto;
    }
    
    .image {
        width: 500px;
    }

    .right-arrow, .left-arrow {
        top: 50%;
        color: black;
    }
}