body{
    // text-align: left;
    ul{
        li{
            text-decoration: none;
        }
    }
    h2, p{
        margin: 1%;
    }
    h2{
        margin-top: 2%;
        padding-bottom: 1%;
    }
 
}
.wrapper{
    // padding: 1%;
    .adminLayout{
        padding: 2%;
        display: grid;
        grid-template-columns: 60% 40%;
        // width: 90%;
        .Cal{
        //    width: 500px;
           grid-column: 1;
        }
        .dataDisplay{
            grid-column: 2;
            display: flex;
            flex-wrap: wrap;
            .bookingData{
                min-width: 300px;
                height: 150px;
                .internalLayout{
                    margin: 0%;
                    h2{
                        font-size: 20px;
                    }
                }
                button{
                    width: 80%;
                    height: 20%;
                    padding: 3%;
                    border-radius: 0px;
                    border: none;
                }
                button:hover{
                    background-color: rgb(255, 160, 72);
                    color: white;
                }
            }
            .modalContent{
                text-align: left;
                ul{
                    font-size: 11px;
                }
                h3{
                    color: #c74747;
                }
            }
        }
    }
}