@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    // background-color: rgb(255, 188, 126);
    text-align: justify;
    // font-family: monospace;
    margin-left: 0%;
    margin-right: 0%;
    h2{
        letter-spacing: 1px;
    }
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    img{
        max-height: 120px;
    }
    nav{
        width: 200px;
        display: inline;
        a{
            margin-left: 5%;
            color: black;
            text-decoration: none;
        }
    }
}
nav{
    display:flex;
    justify-content: space-between;
    button{
        border: none;
        padding: 2%;
        background-color: white;
    }
    :hover{
        // background-color: rgb(236, 236, 236);
        background-color: rgb(253, 192, 122);
        cursor: pointer;
    }
}
section{
    padding: 3%;
}

.bedrooms {
    width: 80%;
    margin-left: 35px;
    padding-top: 10px;
}

figure {
    width: 30%;
    background-color: white;
    box-shadow: 5px 5px 5px #4d4d4e;
}
figcaption {
    text-align: center;
    padding: 10px 20px;
}
.rooms{
    background-color: rgb(255, 212, 173);
    padding: 5%;
    display: inline-flex;
}
.overview{
    padding: 5%;
    margin-left: 0%;
    background-color: rgb(253, 192, 122);
}
.sectionLayout{
    display: flex;
    flex-direction: row;
    p{
        padding-left: 5%;
        padding-right: 5%;
        margin: 0%;
    }
    img{
        max-height: 190px;
        margin-bottom: 3%;
        border-radius: 10%;
    }
}
footer{
    text-align: center;
    padding-top: 2%;
    .footerLayout{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .fContentLayout{
            display: flex;
            flex-direction: column;
            padding: 3%;
            max-width: 200px;
        }
    }
}

.user-data-holder {
    margin-left: 45%;
    margin-top: -38%;
    position: absolute;
}

@media screen and (max-width: 400px) {
    header{
        img{
            max-height: 200px;
        }
    }
    .sectionLayout{
        p{
            padding-top: 60%;
            padding-left: 0%;
            padding-right: 0%;
            margin-left: -270px;
        }
    }
    .bedrooms {
        width: 100px;
    }
    
    figure {
        width: 120px;
        background-color: white;
        box-shadow: 5px 5px 5px #4d4d4e;
        margin-top: 25%;    
    }
    #deluxe {
        margin-left: -40%;
    }
    footer{
        text-align: center;
        padding-top: 2%;
        .footerLayout{
            width: 250px;
        .fContentLayout{
            width: 150px;
            padding: 5px;
            margin-left: 0%;
            h2{
                font-size: 12px;
            }
            p{
                width: 130px;
                height: auto;
                font-size: 12px;
            }
        }
        }
    }
}
