:root {
  --orange: #f5b278;
  --grey: rgb(245, 239, 239);
  --yellow: #eed7a0;

}
body {
  background-color: white;
}

nav, footer {
  background-color: var(--orange);
}

.rooms {
  background-color:  var(--grey);
}

.overview, form {
  background-color: var(--yellow);
}

form {
  border: 1px solid lavender;
}

#logo {
  width: 30%;
  height: auto;
  padding-top: 10px;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px 5px;
  /* position: sticky; */
}

nav a {
  text-decoration: none;
  color: black;
  /* font-size: 18px; */
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  text-align: center;
}

.booking, .login, .sign-up {
  background-color: var(--orange);
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.booking:hover, .login:hover, .sign-up:hover {
  text-decoration: underline;
}