body {
  background-color: white;
}

nav, footer {
  background-color: #f5b278;
}

.slider-container, .rooms {
  background-color: rgb(245, 239, 239);
}

.overview, form {
  background-color: #eed7a0;
}

form {
  border: 1px solid lavender;
}

#logo {
  width: 65%;
  height: auto;
  padding-top: 10px;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px 5px;
  /* position: sticky; */
}

nav a {
  text-decoration: none;
  color: black;
  /* font-size: 18px; */
}
a:hover {
  text-decoration: underline;
}

.slides {
  border: 2px solid black;
  width: 500px;
  height: 450px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
