header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        max-height: 200px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        a{
            justify-content: space-between;
    align-items: center;
        }
    }
}