body{
    // background-color: rgb(255, 188, 126);
    text-align: justify;
    font-family: monospace;
    margin-left: 0%;
    margin-right: 0%;
    h2{
        letter-spacing: 1px;
    }
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    img{
        max-height: 150px;
    }
    nav{
        a{
            margin-left: 5%;

        }
    }
}
nav{
    display:flex;
    justify-content: space-between;
    button{
        border: none;
        padding: 2%;
        background-color: white;
    }
    :hover{
        background-color: rgb(236, 236, 236);
        cursor: pointer;
    }
}
section{
    padding: 3%;
}
.rooms{
    background-color: rgb(255, 212, 173);
    padding: 5%;
}
.overview{
    padding: 5%;
    margin-left: 0%;
    background-color: rgb(253, 192, 122);
}
.sectionLayout{
    display: flex;
    flex-direction: row;
    p{
        padding-left: 5%;
        padding-right: 5%;
        margin: 0%;
    }
    img{
        max-height: 190px;
        margin-bottom: 3%;
        border-radius: 10%;
    }
}
footer{
    text-align: center;
    padding-top: 2%;
    .footerLayout{
        display: flex;
        flex-direction: row;
        .fContentLayout{
            display: flex;
            flex-direction: column;
            margin-left: 10%;
            max-width: 200px;
        }
    }
}   