body {
  background-color: white;
}

nav, footer {
  background-color: #f5b278;
}

.slider-container, .rooms {
  background-color: rgb(245, 239, 239);
}

.overview, form {
  background-color: #eed7a0;
}

form {
  border: 1px solid lavender;
}

#logo {
  width: 65%;
  height: auto;
  padding-top: 10px;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px 5px;
  /* position: sticky; */
}

nav a {
  text-decoration: none;
  color: black;
  /* font-size: 18px; */
}
a:hover {
  text-decoration: underline;
}

.slides {
  border: 2px solid black;
  width: 500px;
  height: 450px;
}

.wrapper {
  text-align: center;
}

.booking, .login, .sign-up {
  background-color: #f5b278;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.booking:hover, .login:hover, .sign-up:hover {
  text-decoration: underline;
}