.modalBackground {
    width: 100%;
    /* background-color: rgb(255, 229, 180); */
    position: sticky;
    z-index: 99;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}

.modalContainer {
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}

/* .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px; 
} */

.titleCloseButton {
    display: flex;
    justify-content: flex-end;
}

.titleCloseButton button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body{
    text-align: center;
}

.login-form, .sign-up-form {
    box-sizing: border-box;
}
.login-form input {
    height: 20px;
}

.sign-up-form input {
    height: 20px;
}

#submit-login, #submit-sign {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: none;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5%;
}

#submit-login:hover, #submit-sign:hover {
    cursor: pointer;
    background-color: rgb(255, 212, 173);
}

/* .modalContainer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
} */
