.modalBackground {
    width: 100%;
    background-color: rgba(200,200,200);
    position: sticky;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}

.modalContainer {
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseButton {
    display: flex;
    justify-content: flex-end;
}

.titleCloseButton button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body{
    text-align: center;
}

.modalContainer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
